<ion-view view-title="BookResults">
  <ion-content>

    <div class="list card">

      <div ng-repeat="result in searchresults.docs" class="item item-avatar">
        <img src="{{'http://covers.openlibrary.org/b/isbn/'+result['isbn'][0]+'-S.jpg'}}">
        <h2>{{result['title']}}</h2>
        <p>{{result['author_name'][0]}}</p>
        <p>Pub Year: {{result['publish_year'][0]}}</p>
        <button class="button button-small" ng-click="details = !details">
          <i ng-class="details ? 'ion-minus' : 'ion-plus'"></i>
        </button>
        <ion-item  ng-show="details">
          <p>ISBN: {{result['isbn'][0]}}</p>
          <p>Genre: {{result['subject'][0]}}</p>


          <div class="row">
            <div class="col col-50">
              <a class="button button-block" ng-click="openInExternalBrowser('https://www.amazon.com/gp/search/ref=sr_adv_b/?field-isbn='+result['isbn'][0])">Amazon</a>
            </div>
            <div class="col col-50">
              <button  class="button button-block" ng-click="cunySearch(result['isbn'][0])">CUNY</button>
            </div>
          </div>
          <div class="row">
            <div class="col col-50">
              <button class="button button-block">Buy</button>
            </div>
            <div class="col col-50">
              <button class="button button-block">Sell</button>
            </div>
          </div>
          </ion-item>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
