<ion-view view-title="BookResults">
  <ion-content>

    <div class="list card">

      <div ng-repeat="result in searchresults.docs" class="item item-avatar">
        <img src="{{'http://covers.openlibrary.org/b/isbn/'+result['isbn'][0]+'-S.jpg'}}">
        <h2>{{result['title']}}</h2>
        <p>{{result['author_name'][0]}}</p>
      </div>

    </div>
    <ion-item class="button" href="#/app/amazonresults">Amazon</ion-item>
    <ion-item>
      <div class="row"><span class="book-name col">This Is The Book Name, 10E</span></div>
      <div class="row">
        <span class="col col-50">Author: Mike PPAP</span>
        <span class="col col-50">Yr: 2016</span>
      </div>
    </ion-item>
  </ion-content>
</ion-view>

<style>
.book-name {
  font-weight: bold;
}
</style>
