/* Empty. Add your own CSS if you like */
.padding {
  background: url('../img/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
}

.my-container {
    background-image:  url("../img/bg.png");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
}

.amazon {
  background: #ff9900;
  font-weight: bold;
}

.bnb {
  background: #123114;
  font-weight: bold;
  color: #CE6900;
}

.cuny {
  font-weight: bold;
}

.save {
  background: #FFC900;
  font-weight: bold;
  color: black;
}
